html,
body,
#app {
  height: 100%;
  padding: 0;
  margin: 0;
  min-width: 1470px;
}
.HolyGrail {
  display: flex;
  min-height: 100px;
  flex-direction: column;
}

.el-header {
  flex: 1;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
  background-color: rgb(245, 245, 245);
  margin-top: 25px;
}

.HolyGrail-nav,
.HolyGrail-ads {
  /* 两个边栏的宽度设为12em */
  flex: 0 0 22em;
}

.HolyGrail-nav {
  /* 导航放到最左边 */
  order: -1;
}

@media (max-width: 768px) {
  .HolyGrail-body {
    flex-direction: column;
    flex: 1;
  }
  .HolyGrail-nav,
  .HolyGrail-ads,
  .HolyGrail-content {
    flex: auto;
  }
}
/* 修改导航栏隐藏的下划线 */
/* .el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
    border-bottom: none !important;
}
.el-submenu.is-active .el-submenu__title {
  border-bottom-color: none !important;
} */
